<div *ngIf="!department_selected" class="d-flex justify-content-center align-items-center overflow-auto h-100"
    style="resize: horizontal; background-color: #003a4b; border-left: 1px solid #003A4B;">
    <h1 class="text-center fw-bold p-3 text-white">POR FAVOR SELECCIONAR UNA LOCALIDAD PARA VISUALIZAR LOS DATOS</h1>
</div>
<div *ngIf="department_selected">
    <mat-toolbar color="accent" class="text-uppercase justify-content-center">{{department_selected}} - DEPARTAMENTO
    </mat-toolbar>
    <mat-accordion multi="true">
        <div *ngIf="is_load" class="d-flex justify-content-center align-items-center" style="height: 90vh;">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
        <div *ngFor="let value_by_year of values_by_year | keyvalue; let year_i = index;">
          <div *ngIf="value_by_year.key.toString() === year_selected || !year_selected">
            <mat-expansion-panel class="rounded-0 m-0">
              <mat-expansion-panel-header class="p-0 panel-vertical">
                <mat-panel-title class="justify-content-center fw-bold text-center">{{value_by_year.key}}</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="panel-content overflow-auto panel-content-main">
                  <mat-accordion multi="true">
                      <div *ngFor="let value_by_field of value_by_year.value | keyvalue; let field_i = index;">
                          <mat-expansion-panel class="rounded-0 m-0" (opened)="createGraphicWithValues(value_by_year.key, value_by_field.key, year_i+'_'+field_i)">
                              <mat-expansion-panel-header class="p-0 panel-vertical">
                                  <mat-panel-title class="justify-content-center fw-bold text-center">{{value_by_field.key}}</mat-panel-title>
                              </mat-expansion-panel-header>
                              <div class="panel-content overflow-auto panel-content-main">
                                  <div *ngFor="let name_graphic of array_name_graphics" style="width: 100%; height: 500px;" [id]="'graphic_'+name_graphic+'_'+year_i+'_'+field_i"></div>
                              </div>
                          </mat-expansion-panel>
                      </div>
                  </mat-accordion>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
    </mat-accordion>
</div>
