<div *ngIf="!department_selected" class="d-flex justify-content-center align-items-center overflow-auto h-100"
  style="resize: horizontal; background-color: #003a4b; border-left: 1px solid #003A4B;">
  <h1 class="text-center fw-bold p-3 m-0 text-white">POR FAVOR SELECCIONAR UNA LOCALIDAD PARA VISUALIZAR LOS DATOS</h1>
</div>
<div *ngIf="department_selected">
  <mat-toolbar color="accent" class="text-uppercase justify-content-center">{{department_selected}} - DEPARTAMENTO
  </mat-toolbar>
  <mat-tab-group (selectedIndexChange)="changeYearSelectedTab($event)">
    <div *ngFor="let graphic_value_department of graphic_values_departments_by_year | keyvalue; let year_i = index;">
      <div *ngIf="graphic_value_department.key === year_selected || !year_selected">
        <mat-tab [label]="graphic_value_department.key">
          <div *ngFor="let value_by_departments of graphic_value_department.value | keyvalue; let department_i = index;">
            <div *ngIf="value_by_departments.key === department_selected">
              <mat-card *ngFor="let value_by_field of value_by_departments.value | keyvalue; let field_i = index;" style="resize: horizontal;" class="col-md-6 overflow-auto d-inline-block card_with_graphics">
                <mat-card-header>
                  <mat-card-title>{{value_by_field.key}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div #isAllGraphicsRendered #allGraphics *ngFor="let name_graphic of array_name_graphics; let last = last;" class="d-inline-block graphics_by_deparment" style="width: 100%; height: 500px;" [id]="'graphic_'+name_graphic+'_'+year_i+'_'+field_i+'_'+department_i">
                    </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </div>
    </div>
  </mat-tab-group>
</div>
