.presentation-home {
    background-color: #003a4b;
}

.main-logo {
  left: 13vw;
  top: 10vw;
}

.container-main-text {
    padding-left: 36vw;
    padding-right: 3vw;
}

.main-text {
    font-size: 1vw;
    line-height: 3vw;
    right: 8vw;
}

.main-button {
  width: 250px;
  height:50px;
}

@media (min-width: 1200px) {
  .presentation-home {
      background-image: url('../../../assets/img/background_home.svg');
      background-repeat: no-repeat;
      background-position-y: -10px;
      background-size: cover;
  }
  .container-main {
    height: 31vw;
  }
}
