<div class="row py-md-4 py-sm-2 presentation-home">
    <div class="d-none d-md-block">
        <img src="assets/img/logo.webp" alt="Logo Team 102" class="position-absolute main-logo" width="20%">
        <div class="text-light text-end" style="right: 60px;">
            <div class="container-main-text">
                <h1 class="fst-italic"><span style="font-size: 3vw;">PROBLEMATICA A RESOLVER</span></h1>
                <p class="holder overflow-hidden main-text w-50 position-absolute"><span class="rotate"> Es </span><span
                        class="rotate">útil </span><span class="rotate">para </span><span class="rotate">las
                    </span><span class="rotate">entidades </span><span class="rotate">públicas </span><span
                        class="rotate">en </span><span class="rotate">Colombia, </span><span class="rotate">contar
                    </span><span class="rotate">con </span><span class="rotate">una </span><span
                        class="rotate">herramienta </span><span class="rotate">que </span><span class="rotate">les
                    </span><span class="rotate">permita </span><span class="rotate">predecir </span><span
                        class="rotate">la </span><span class="rotate">probabilidad </span><span class="rotate">de
                    </span><span class="rotate">adiciones </span><span class="rotate">de </span><span
                        class="rotate">presupuesto </span><span class="rotate">y </span><span class="rotate">tiempo
                    </span><span class="rotate">en </span><span class="rotate">los </span><span class="rotate">contratos
                    </span><span class="rotate">e </span><span class="rotate">identificar </span><span
                        class="rotate">cuáles </span><span class="rotate">son </span><span class="rotate">las
                    </span><span class="rotate">características </span><span class="rotate">más </span><span
                        class="rotate">comunes </span><span class="rotate">de </span><span class="rotate">los
                    </span><span class="rotate">contratos </span><span class="rotate">que </span><span class="rotate">lo
                    </span><span class="rotate">provocan, </span><span class="rotate">porque </span><span
                        class="rotate">esto </span><span class="rotate">les </span><span class="rotate">ayuda
                    </span><span class="rotate">a </span><span class="rotate">tomar </span><span
                        class="rotate">controles </span><span class="rotate">de </span><span
                        class="rotate">planificación </span><span class="rotate">y </span><span class="rotate">ejecución
                    </span><span class="rotate">para </span><span class="rotate">cumplir </span><span class="rotate">con
                    </span><span class="rotate">las </span><span class="rotate">restricciones </span><span
                        class="rotate">de </span><span class="rotate">alcance, </span><span class="rotate">presupuesto
                    </span><span class="rotate">y </span><span class="rotate">cronograma, </span><span
                        class="rotate">además </span><span class="rotate">les </span><span class="rotate">permite
                    </span><span class="rotate">prevenir </span><span class="rotate">hallazgos </span><span
                        class="rotate">de </span><span class="rotate">auditoría.</span></p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap flex-xl-nowrap d-md-none justify-content-center">
        <img class="mt-5 w-25" src="assets/img/logo.webp" alt="Logo Team 102">
        <div class="mt-5 px-3 text-light">
            <h1 class="fst-italic text-center">PROBLEMATICA A RESOLVER</h1>
            <p style="font-size: 25px; line-height: 35px;" class="text-justify">Es útil para las entidades públicas en Colombia, contar con
                una herramienta que les permita predecir la probabilidad de adiciones de presupuesto y tiempo en los
                contratos e identificar cuáles son las características más comunes de los contratos que lo provocan,
                porque esto les ayuda a tomar controles de planificación y ejecución para cumplir con las restricciones
                de alcance, presupuesto y cronograma, además les permite prevenir hallazgos de auditoría.</p>
        </div>
    </div>
</div>
<mat-toolbar color="primary" class="justify-content-center fw-bold py-4">
    <h2>MIEMBROS DEL EQUIPO</h2>
</mat-toolbar>
<div class="row py-3" style="background-color: #99C7CB;">
    <div class="col-lg-6 col-12 mb-3">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img"
                style="background-image: url('assets/img/profile/Juan-Guillermo-Serrano-Ramirez.webp');"></div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">JUAN GUILLERMO SERRANO RAMÍREZ</h1>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img" style="background-image: url('assets/img/profile/Jhosep-Granda-Parra.webp');">
            </div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">JHOSEP GRANDA PARRA</h1>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img"
                style="background-image: url('assets/img/profile/Juan-Fernando-Varela-Joven.webp');"></div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">JUAN FERNANDO VARELA JOVEN</h1>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img"
                style="background-image: url('assets/img/profile/Kelly-Johana-Vergara-Torres.webp');"></div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">KELLY JOHANA VERGARA TORRES</h1>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3 mb-lg-0">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img"
                style="background-image: url('assets/img/profile/Juan-Pablo-Ramirez-Escobar.webp');"></div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">JUAN PABLO RAMÍREZ ESCOBAR</h1>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div
            class="d-flex align-items-center flex-wrap flex-xl-nowrap justify-content-center profile-container bg-white py-3 py-md-0">
            <div class="profile-img"
                style="background-image: url('assets/img/profile/Ivan-Daniel-Pacheco-Durango.webp');"></div>
            <h1 class="t-italic text-center px-1 mt-3 mb-0 m-md-0">IVAN DANIEL PACHECO DURANGO</h1>
        </div>
    </div>
</div>