.mat-dialog-container {
    padding: 0px;
}

.container {
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
}

.container input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
}

.files-list {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.files-list .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
    flex: 1 1 0px;
}

.files-list .single-file img.delete {
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
    z-index: 3;
}

.files-list .info .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.files-list .info .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}

.files-list .info {
    width: 100%
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 30px;
}

.container-main>div:nth-child(3){
  order: 7;
}

.container-main>div:nth-child(4){
  order: 3;
}

.container-main>div:nth-child(5){
  order: 4;
}

.container-main>div:nth-child(6){
  order: 5;
}

.container-main>div:nth-child(7){
  order: 6;
}

@media (max-width: 576px) {
  .mobile-full {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container-main {
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: auto;
    grid-template-areas:
      "one two three"
      "four five ."
      "six . ."
      "seven . .";
  }

  .container-main>div:nth-child(1){
    grid-area: one;
  }

  .container-main>div:nth-child(2){
    grid-area: two;
  }

  .container-main>div:nth-child(3){
    grid-area: three;
  }

  .container-main>div:nth-child(4){
    grid-area: four;
  }

  .container-main>div:nth-child(5){
    grid-area: five;
  }

  .container-main>div:nth-child(6){
    grid-area: six;
  }

  .container-main>div:nth-child(7){
    grid-area: seven;
  }
}
