@media (max-width: 576px) {
  .load-data-map {
    line-height: inherit;
  }
}

@media (max-width: 768px) {
  .container-map-main {
    display: block;
  }
  #accordion-vertical {
    display: none;
  }
  .container-options-map {
    padding: 0px 20vh 0px 1vh !important;
    bottom: 0px;
    left: 0px;
    gap: initial !important;
  }
}

@media (min-width: 769px) {
  #accordion-vertical {
    height: 100%;
    width: 100vh;
    transform: rotate(-90deg);
  }
  .container-map-main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
  }
}

#main_map {
    z-index: 3;
    height: 100vh;
}
